<%= render 'shared/i_in_pear' %>
<h2>Select Team: </h2>
<table class='table' style='width: 50%'>
 <tr>
   <th><h4>Team Name</h4></th>
   <th><h4>Team Members</h4></th>
 </tr>
 <% @teams.each do |team| %>
  <tr>
    <td><a href='<%= url_for(team) %>'><%= team.name %></a></td>
    <td><%= team.team_members.count %></td>
  </tr>
 <% end %>
</table>

<br /><br />

<hr />

<h3>Create a New Team:</h3>
<%= form_for :new_team do |f| %>
  <%= f.text_field :name, class: 'form-control create-team-btn', placeholder: 'Team Name' %>
  <%= f.submit :Submit, class: 'btn btn-primary' %>
<% end %>
