<!DOCTYPE html>
<html>
  <head>
    <title>Pearing</title>
    <%= csrf_meta_tags %>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='wrapper'>
      <%= render 'shared/header' %>
      <%= render 'shared/nav_main' %>
      <main>
        <%= yield %>
      </main>
      <div class='clearfix'></div>
      <br />
      <br />
    </div>
  </body>
</html>
